{
  "swagger": "2.0",
  "info": {
    "title": "CTS APIs",
    "version": "1.0",
    "description": ""
  },
  "host": "api.hotrogame.online",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/Account/CheckLogin": {
      "get": {
        "summary": "Check login to system",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/Session"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "results",
                "status",
                "message"
              ]
            }
          }
        },
        "operationId": "get-Account-CheckLogin",
        "description": "Check access login to system",
        "parameters": [
          {
            "type": "number",
            "in": "query",
            "name": "id",
            "description": "Id of account",
            "required": true
          },
          {
            "type": "string",
            "in": "query",
            "name": "pw",
            "description": "Password of Account",
            "required": true
          }
        ]
      }
    },
    "/Account/OTP": {
      "get": {
        "summary": "Get OTP verify forget password",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "operationId": "get-Account-OTP",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "mail",
            "description": "Email of account forget password",
            "required": true
          }
        ],
        "description": "Get OTP verify forget password"
      }
    },
    "/Account/Changepassword": {
      "put": {
        "summary": "Change password",
        "operationId": "put-Account-Changepassword",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "description": "Change password",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "passnew",
            "description": "input password new",
            "required": true
          },
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access requets",
            "required": true
          }
        ]
      }
    },
    "/Account/{id}/DeleteEmployee": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Delete account with ID",
        "operationId": "put-Account-id-DeleteEmployee",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "description": "Delet account",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          }
        ]
      }
    },
    "/Account/RankEmployee": {
      "get": {
        "summary": "Get list rank employee",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/Session"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "": {
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/Rank"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "results",
                "status",
                "message"
              ]
            },
            "description": ""
          }
        },
        "operationId": "get-Account-RankEmployee",
        "description": "Get list rank employee",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          }
        ]
      }
    },
    "/Mission/{id}/ClearMission": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Remove mission with ID",
        "operationId": "put-Mission-id-ClearMission",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "description": "Remove mission with ID",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access requets",
            "required": true
          }
        ]
      }
    },
    "/Mission/ListMissionComplete": {
      "get": {
        "summary": "Get list mission complete of account",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/MissionComplete"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "message"
              ]
            }
          }
        },
        "operationId": "get-Mission-ListMissionComplete",
        "description": "Get list mission complete of account",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          }
        ]
      }
    },
    "/Mission/{id}/Describe": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get information of Mission with ID",
        "operationId": "get-Mission-id-Describe",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/Mission"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "message"
              ]
            }
          }
        },
        "description": "Get information of Mission with ID",
        "parameters": []
      }
    },
    "/Mission/Create": {
      "post": {
        "summary": "Create a Mission",
        "operationId": "post-Mission-Create",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "description": "Create a Mission",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Mission"
            },
            "description": "Model Mission",
            "x-examples": {}
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Mission"
            },
            "description": "Model Mission",
            "x-examples": {
              "example-1": {}
            }
          },
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          }
        ]
      }
    },
    "/Mission/{id}/CompleteMission": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Comfirm complete mission of employee",
        "operationId": "put-Mission-id-CompleteMission",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "description": "Comfirm complete mission of employee",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          }
        ]
      }
    },
    "/Mission/{id}/Confim": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Confim Mission of Admin",
        "operationId": "put-Mission-id-Confim",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "description": "Confim Mission of Admin",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apikey access request",
            "required": true
          }
        ]
      }
    },
    "/Type_Mission/GetAll": {
      "get": {
        "summary": "Get list type mission",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TypeMission"
            }
          }
        },
        "operationId": "get-Type_Mission-GetAll",
        "description": "Get list type mission",
        "parameters": [
          {
            "type": "string",
            "in": "query"
          }
        ]
      }
    },
    "/Mission/Search": {
      "get": {
        "summary": "Get list mission avaliable  with keyword",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/Mission"
                },
                "status": {
                  "type": "boolean"
                },
                "messeage": {
                  "type": "string"
                }
              },
              "required": [
                "results",
                "status",
                "messeage"
              ]
            }
          }
        },
        "operationId": "get-Mission-Search",
        "description": "Get list mission avaliable with keyword",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "key",
            "description": "input keyword need search"
          },
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          }
        ]
      }
    },
    "/Missison/Missionavailable": {
      "get": {
        "summary": "Get list mission avaible",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/Mission"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "results",
                "status",
                "message"
              ]
            }
          }
        },
        "operationId": "get-Missison-Missionavaible",
        "description": "Get list mission available",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          }
        ]
      },
      "parameters": []
    },
    "/Mission/Missionavailableemp": {
      "get": {
        "summary": "Get list mission process of employee",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/Mission"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "results",
                "status",
                "message"
              ]
            }
          }
        },
        "operationId": "get-Mission-Missionavaibleemp",
        "description": "Get list mission process of employee",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request ",
            "required": true
          }
        ]
      },
      "parameters": []
    },
    "/Mission/ListMission": {
      "get": {
        "summary": "Get list all mission of system",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/definitions/Mission"
                },
                "status": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "message"
              ]
            }
          }
        },
        "operationId": "get-Mission-ListMission",
        "description": "Get list all mission of system",
        "parameters": [
          {
            "type": "string",
            "in": "query"
          }
        ]
      }
    },
    "/Type_Mission": {
      "get": {
        "summary": "Get list type mission available",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TypeMission"
            }
          }
        },
        "operationId": "get-Type_Mission",
        "description": "Get list type mission available"
      }
    },
    "/Type_Mission/{id}": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get information of type mission with ID",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TypeMission"
            }
          }
        },
        "operationId": "get-Type_Mission-id",
        "description": "Get information of type mission with ID"
      }
    },
    "/Type_Mission/Create": {
      "post": {
        "summary": "Creata a type mission",
        "operationId": "post-Type_Mission-Create",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "description": "Creata a type mission",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TypeMission"
            },
            "description": "Model Type mission"
          }
        ]
      }
    },
    "/Type_Mission/Edit": {
      "put": {
        "summary": "Edit type mission",
        "operationId": "put-Type_Mission-Edit",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Edit type mission",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TypeMission"
            }
          }
        ]
      }
    },
    "/Type_Mission/{id}/Remove": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "Remove type mission with ID",
        "operationId": "put-Type_Mission-id-Remove",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "description": "Remove type mission with ID",
        "parameters": [
          {
            "type": "string",
            "in": "query",
            "name": "apiKey",
            "description": "apiKey access request",
            "required": true
          }
        ]
      }
    }
  },
  "definitions": {
    "Session": {
      "title": "Model Session",
      "type": "object",
      "properties": {
        "name_employee": {
          "type": "string"
        },
        "point": {
          "type": "number"
        },
        "apikey": {
          "type": "string"
        }
      },
      "description": "Model Session login"
    },
    "Rank": {
      "title": "Model Rank",
      "type": "object",
      "description": "Model Rank",
      "properties": {
        "id_employee": {
          "type": "integer"
        },
        "name_employee": {
          "type": "string"
        },
        "point": {
          "type": "number"
        }
      }
    },
    "MissionComplete": {
      "title": "Model Mission Complete",
      "type": "object",
      "description": "Model Mission Complete",
      "properties": {
        "id_mission": {
          "type": "integer"
        },
        "name_mission": {
          "type": "string"
        },
        "point": {
          "type": "number"
        },
        "date": {
          "type": "string"
        }
      }
    },
    "Mission": {
      "title": "Model Mission",
      "type": "object",
      "description": "Model Mission",
      "properties": {
        "id_mission": {
          "type": "integer"
        },
        "name_mission": {
          "type": "string"
        },
        "Stardate": {
          "type": "string"
        },
        "point": {
          "type": "number"
        },
        "exprie": {
          "type": "number"
        },
        "describe": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "count": {
          "type": "number"
        },
        "id_type": {
          "type": "integer"
        },
        "id_employee": {
          "type": "integer"
        }
      }
    },
    "TypeMission": {
      "title": "Model TypeMission",
      "type": "object",
      "description": "Model Type Mission",
      "properties": {
        "id_type": {
          "type": "integer"
        },
        "name_type_mission": {},
        "id_employee": {
          "type": "integer"
        },
        "status": {
          "type": "boolean"
        },
        "date": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {}
}